#AuthName "Page d'administration protégée"
#AuthType Basic
#AuthUserFile "/opt/lampp/htdocs/projet_data/.htpasswd"
#Require valid-user
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]