{%extends 'layout.twig.html'%}



{%block title%} Accueil {% endblock%}



{% block main %}
<!-- {{affichage}} -->
<h1>ACCUEIL</h1>

{% for item in donnees %}

    <div>

        {{ item.nom_de_la_manifestation}}
        
    </div>
{% endfor%}

<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-6">COL-6</div>
            <div class="col-6">COL-6</div>
            <div class="col-12">COL-12</div>
        </div>
    </div>
</div> -->

{% endblock %}

{% block script %} {% endblock %}

