{%extends 'layout.twig.html'%}



{%block title%} Accueil {% endblock%}

{% block header %}
<!-- {{affichage}} -->
<!-- HEADER -->
<header class="accueil container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#">FESTI'FRANCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>       
    </nav>
</header>
{% endblock%}

{% block main %}
<main>


</main>

{% for i in donnees %}

<div>

    {{ i.nom_de_la_manifestation}}

</div>
{% endfor%}

<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-6">COL-6</div>
            <div class="col-6">COL-6</div>
            <div class="col-12">COL-12</div>
        </div>
    </div>
</div> -->

{% endblock %}


{% block script %} {% endblock %}