

{%extends 'layout.html.twig'%}

{% block title %}
Accueil 
{% endblock%}


{% block header %}
<div id="backgroundAccueil">

{% endblock%}

{% block main %}

<div id="logoTextAccueil">
    <img id= "logo_accueil" src="assets/images/logo_accueil.png">
    <p>FESTI' FRANCE</p>
    <h2> ne reste pas chez toi cet été ! trouve ton festoch' facilement<br /> grâce à Festi' France !</h2>

{% endblock%}

{% block footer %}
</div>
{% endblock%}


