{% extends 'layout.html.twig' %}

{% block title %}
Accueil 
{% endblock %}


{% block header %}
<div id="background">
  {{ parent() }}
{% endblock %}

{% block main %}
<div id="logo_text_accueil">
    <img id= "logo_accueil" src="assets/images/logo_accueil.png">
    <p>FESTI'FRANCE</p>
    <h2> ne reste pas chez toi cet été! trouve ton festoch' facilement grâce à festi'france!</h2>

{% endblock %}

{% block footer %}
</div>
{% endblock %}

{% block script %}{{ parent() }}{% endblock %}
