{% extends 'layout.html.twig' %}

{% block API_leaflet %}{{ parent() }}{% endblock %}

{% block title %} Autour de moi {% endblock %}

{% block header %}{{ parent() }} {% endblock %}

{% block main %}

<div id="main" class="container-fluid">
    <div class="row">
        <div id="map" class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}

{% block script %}{{ parent() }}
<script>
        var mymap = L.map('map').setView([45.756837, 3.239749], 6.71);
        //permet d'afficher la map :
        L.tileLayer(
            'https://api.mapbox.com/styles/v1/mgaaintjrae/cjw1s9oo30hlo1co1l7mgq804/tiles/256/{z}/{x}/{y}?&access_token=pk.eyJ1IjoibWdhYWludGpyYWUiLCJhIjoiY2p3MXMzMzJqMG4xcDQwa3Q1a25heGtnbyJ9.DMXg-P_uxnVml82Ki6SmUQ#10.0/42.362400/-71.020000/0}'
        
            , {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoibWdhYWludGpyYWUiLCJhIjoiY2p3MXMzMzJqMG4xcDQwa3Q1a25heGtnbyJ9.DMXg-P_uxnVml82Ki6SmUQ'
            }).addTo(mymap);
        
        //permet d'afficher la position de l'utilisateur :
        var circle = L.circle([51.508, -0.11], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 500
        });
        
        L.marker([46.861337, 5.036074], { circle: circle }).addTo(mymap);
</script>

{% endblock %}

