{% extends 'layout.html.twig' %}

{% block credits_css %} <link rel="stylesheet" href="assets/css/credits.css"{% endblock %}

{% block title %} Crédits {% endblock %}


{% block titlePage %}
    <div class="col-7 d-flex justify-content-left">
        <span>credits</span>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid" id="section-credits">
    
        <div class="container">
        
            <div class="row">
            
                {# <div class="col-12">

                    <h1>Credits</h1>
                </div> #}

                <div class="col-12">
                    
                    <h3>icone agenda</h3>
                    <p> 
                
                        Icons made by <a href="https://www.flaticon.com/authors/roundicons-freebies"  target="_blank" title="Roundicons Freebies">Roundicons Freebies</a> from <a href="https://www.flaticon.com/" target="_blank"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    
                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </p>
                </div>

                <div class="col-12">

                    <h3>icone accueil</h3>
                    <p> 
                    
                        Icons made by <a href="https://www.flaticon.com/authors/icon-works" target="_blank" title="Icon Works">Icon Works</a> from <a href="https://www.flaticon.com/" target="_blank"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"
                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </p>
                </div>

                <div class="col-12">
                    
                    <h3>icone autour de moi (boussole)</h3>
                    <p> 
                        
                        Icons made by <a href="https://www.freepik.com/" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"
                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </p>
                </div>

                <div class="col-12">
                    
                    <h3>icone contact</h3>
                    <p> 
                        
                        Icons made by <a href="https://www.freepik.com/" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"
                        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </p>
                </div>

                <div class="col-12">
                    
                    <h3>icone tous les festivals (repère)</h3>
                    <p> 
                        
                        Icons made by <a href="https://www.freepik.com/" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank"
                        title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank"
                        title="Creative Commons BY 3.0" >CC 3.0 BY</a>

                    </p>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}


