{%extends 'layout.html.twig' %}


{% block title %}FORM{% endblock %}

{% block main %}


 
        <form method="POST">
        
            <p>
            
                <label for="nom">Nom Festivals</label>
                <input type="text" name="nom" id="nom" for="nom">
            </p>

            <p>
            
                <label for="region">Région</label>
                <input type="text" name="region" id="region" for="region">
            </p>

            <button type="submit" id="btn">Rechercher</button>
            
        </form> 

        {% for i in donnees %}
            
            {{i.nom_manifestation}}<br>
        {% endfor %}


         <script>
            

        //     $.ajax({
        //         url: "",
        //         type: "POST",
        //         dataType: "html",
        //         data: {
        //         'nom': document.querySelector('#nom').value,
        //         'email': document.querySelector('#email').value,
        //         'message': document.querySelector('#message').value
        //         },
        //         success: function (data, status) {
        //         console.log("OKKKKKK");
        //         }

        //     });
        // </script>

{% endblock %}