<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->

{% block head %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Meta description -->
  <meta name="description" content="application FESTI'FRANCE permettra aux utilisateurs de trouver 
  facilement un festival proche de chez eux dans un rayon de 100km, 
  ou chercher le festival qui leurs convient partout en France suivant les dates ou les lieux choisis. ">
  <meta name="author" content="Priscilla, Igal, Sébastien">
  <meta name="keywords" content="application, festivals, festi'france, france, festivaliers, artistes, musiques, 
  livres, rassemblement, fêtes, amusement">

  <!-- META Twitter -->
  <meta name="twitter:title" content="Twitter">
  <meta name="twitter:description" content="compte twitter">
  <meta name="twitter:url" content="https://twitter.com/">
  <meta name="twitter:image:src" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- META FACEBOOK -->
  <meta property="og:Facebook" content="Facebook">
  <meta property="og:type" content="page Facebook">
  <meta property="og:url" content="https://www.facebook.com/">
  <meta property="og:image" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- META INSTAGRAM -->
  <meta property="og:Instagram" content="Instagram">
  <meta property="og:type" content="compte Instagram">
  <meta property="og:url" content="https://www.instagram.com/">
  <meta property="og:image" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- BOOTSTRAP ET LIEN VERS CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
  
  {% block API_leaflet %}
  {# API leaflet #}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  {% endblock %}

  <!-- FAVICON -->
  <link rel="icon" type="image/ ico" href="assets/images/favicon.png" />
  <title>{% block title %} FESTI'FRANCE {% endblock %}</title>

</head>
{% endblock %}

<body>
  {# HEADER #}
  {% block header %}
  {# <nav class="barMenu navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav> #}
  <div class="container-fluid">
    <div class="navBar row">
      <div class="col-3 d-flex justify-content-left">
        <a href="#">festi'france</a>
      </div>
      <div class="col-7 d-flex justify-content-center">        
          <div id="sideNavigation" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">agenda</a>
            <a href="#">autour de moi</a>
            <a href="#">tous les festivals</a>
            <a href="#">contact</a>
          </div>        
      </div>
      <nav class="topnav col-2 d-flex justify-content-center">
        <a href="#" onclick="openNav()">
          <svg width="30" height="30" id="icoOpen">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
          </svg>
        </a>
      </nav>
    </div>
  </div>
</nav>
 {# script pour la barre de nav latérale smartphone #}
<script>
  function openNav() {
      document.getElementById("sideNavigation").style.width = "250px";      
      document.getElementById("main").style.marginRight = "250px";
  }
   
  function closeNav() {
      document.getElementById("sideNavigation").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
  }
  </script>

  {% endblock %}

  <!-- MAIN -->

  {% block main %}



  {% endblock %}


  <!-- FOOTER -->

  {% block footer %}
  <div class="footer container-fluid">
    <div class="row">
      <div class="col-6">
        <a class="credits" href="#">Crédits</a>
      </div>
      <div class="col-6">
        <a class="twitter" href="https://twitter.com/"><img class="img-fluid"
            src="/assets/images/logo_social/logo_tw.png"></a>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block script %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  {% endblock %}
</body>

</html>