<!DOCTYPE html>
<html lang="fr">

<!-- HEAD -->

{% block head %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Meta description -->
  <meta name="description" content="application FESTI'FRANCE permettra aux utilisateurs de trouver 
  facilement un festival proche de chez eux dans un rayon de 100km, 
  ou chercher le festival qui leurs convient partout en France suivant les dates ou les lieux choisis. ">
  <meta name="author" content="Priscilla, Igal, Sébastien">
  <meta name="keywords" content="application, festivals, festi'france, france, festivaliers, artistes, musiques, 
  livres, rassemblement, fêtes, amusement">

  <!-- META Twitter -->
  <meta name="twitter:title" content="Twitter">
  <meta name="twitter:description" content="compte twitter">
  <meta name="twitter:url" content="https://twitter.com/">
  <meta name="twitter:image:src" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- META FACEBOOK -->
  <meta property="og:Facebook" content="Facebook">
  <meta property="og:type" content="page Facebook">
  <meta property="og:url" content="https://www.facebook.com/">
  <meta property="og:image" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- META INSTAGRAM -->
  <meta property="og:Instagram" content="Instagram">
  <meta property="og:type" content="compte Instagram">
  <meta property="og:url" content="https://www.instagram.com/">
  <meta property="og:image" content="assets/images/maquettes/desktop/page_accueil.png">

  <!-- BOOTSTRAP ET LIEN VERS CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- FAVICON -->
  <link rel="icon" type="image/ ico" href="assets/images/favicon.png" />
  <title>{%block title%} FESTI'FRANCE {%endblock%}</title>

</head>
{% endblock %}



<body>
  <!-- header -->
  {% block header %}
  
  



  {% endblock %}

  <!-- MAIN -->

  {% block main %}



  {% endblock %}


  <!-- FOOTER -->

  {% block footer %}



  {% endblock %}

  {%block script %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  {% endblock %}
</body>

</html>