{% extends "layout.html.twig" %}

{% block main %}
<div>

    <p id="test"> cgfherhfgrefkrvfvreufvberfkhswvl</p>
    <button id="btn">click me<button>
</div>

{% endblock %}

{% block scriptTest %}<script src="assets/js/test.js"></script>{% endblock %}