{% extends "layout.html.twig" %}
{%block main %}

<form method="post" action="">

   <select name="depart">
   
        {% for i in donnees %}
            <p><option value='$key'>{{i.nom_manifestation}}</option></p>;
            <p>L'atitude</p>
        {% endfor %}
   </select>
   <input type="submit" name="valider" value="valider" />
</form>
{% endblock %}