{% extends 'layout.twig.html' %}


{% block API_leaflet %}{{ parent() }}{% endblock %}

{% block title %} Tous les festivals {% endblock %}

{% block header %}{{ parent() }} {% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div id="map" class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ parent() }}

<!-- script pour leaflet -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>



<script>
    var mymap = L.map('map').setView([47.416474, 4.504548], 6.4);
    //permet d'afficher la map :
    L.tileLayer(
        'https://api.mapbox.com/styles/v1/mgaaintjrae/cjw1s9oo30hlo1co1l7mgq804/tiles/256/{z}/{x}/{y}?&access_token=pk.eyJ1IjoibWdhYWludGpyYWUiLCJhIjoiY2p3MXMzMzJqMG4xcDQwa3Q1a25heGtnbyJ9.DMXg-P_uxnVml82Ki6SmUQ#10.0/42.362400/-71.020000/0}'

        , {
            maxZoom: 24,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibWdhYWludGpyYWUiLCJhIjoiY2p3MXMzMzJqMG4xcDQwa3Q1a25heGtnbyJ9.DMXg-P_uxnVml82Ki6SmUQ'
        }).addTo(mymap);

    //permet d'afficher un repère :
    var icon = L.icon({
        iconUrl: 'http://localhost/projet_data/assets/images/icons/marker.svg',        
        iconSize: [25, 30], //taille du repère
        iconAnchor: [12.5, 46], //ombre
        popupAnchor: [-3, -76]
    });

    var markerOrange = {icon: icon};

    {% for item in donnees %}
    L.marker({{ item.coordonnees_insee }}, markerOrange).addTo(mymap);
    {% endfor %}
    //L.marker([46.861337, 5.036074], {icon: icon}).addTo(mymap);
</script>

{% endblock %}
