{%extends 'layout.twig.html'%}

{% block title %}
Tous les festivals
{% endblock%}

{% block main%}

<!-- HEADER -->

{% block header %}

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#"><img src="../assets/images/icons/icon_accueil.svg" alt="icon de l'accueil" height="612" width="612"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">

              <a class="nav-link" href="accueil.twig.html">Accueil <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">

              <a class="nav-link" href="agenda.twig.html">Agenda</a>
            </li>

            <li class="nav-item">
                
                <a class="nav-link" href="autour_de_moi.twig.html">Autour de moi</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" href="tout_les_festivals.twig.html">Tous les festivals</a>
            </li>

            <li class="nav-item">

                <a class="nav-link" href="contact.twig.html">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

{% endblock %}

<h1>Tous les festivals</h1>

{% endblock%}
