@charset "UTF-8";
/* orange  rgb(239, 117,43)*/
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas neue cyrillic";
}

@font-face {
  font-family: "Monoton";
  src: url("../fonts/Monoton-Regular.ttf");
}
@font-face {
  font-family: "Bebas neue cyrillic";
  src: url("../fonts/Bebas Neue Cyrillic.ttf");
}
span {
  font-family: "Monoton";
  color: white;
}

#background {
  background-image: url("../images/background_accueil.jpg");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  #background #barMenuAccueil {
    display: block;
  }
}
#background #barMenuAccueil #navbarNavAltMarkup .navbar-nav {
  width: 100%;
}
#background #barMenuAccueil #navbarNavAltMarkup .navbar-nav a {
  margin-left: 10%;
  color: white;
}

#map {
  position: fixed;
  height: 95vh;
}

@media (min-width: 992px) {
  #navbarADM {
    display: none;
  }
}
#navbarADM .navBar {
  align-items: center;
  height: 55px;
  background-color: black;
  overflow: hidden;
}
#navbarADM .navBar span {
  font-size: 30px;
}
#navbarADM .navBar .menuTop {
  justify-content: space-between;
}
@media (min-width: 992px) {
  #navbarADM .navBar .menuTop a {
    display: none;
  }
}
#navbarADM .navBar .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbarADM .navBar .topnav a:hover,
#navbarADM .navBar .topnav a:focus {
  color: #f1f1f1;
}
#navbarADM .navBar .sidenav {
  cursor: pointer;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
#navbarADM .navBar .sidenav #icon {
  position: relative;
  left: -26px;
}
#navbarADM .navBar .sidenav .menu {
  border-bottom: 1px solid rgba(239, 117, 43, 0.8);
  padding: 55px 65px;
}
#navbarADM .navBar .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#navbarADM .navBar .sidenav a:hover,
#navbarADM .navBar .sidenav .offcanvas a:focus {
  color: #f1f1f1;
}
#navbarADM .navBar .sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: -42px;
  right: 0;
  font-size: 83px;
  margin-right: 50px;
}

.navTousLesFestivals {
  height: 55px;
  background-color: black;
  align-items: center;
  position: relative;
}
.navTousLesFestivals a:hover {
  color: #EF752B;
}
.navTousLesFestivals h1 {
  display: contents;
  font-size: 30px;
  color: #f1f1f1;
}

@media (min-width: 992px) {
  #navbarTLF {
    display: none;
  }
}
#navbarTLF .sideSearch {
  cursor: pointer;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  top: 54px;
  background-color: rgba(92, 91, 91, 0.9);
  overflow-x: hidden;
  margin-top: 54px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#navbarTLF .sideSearch .parDate {
  border-right: 1px solid rgba(173, 173, 173, 0.8);
  border-bottom: 1px solid rgba(173, 173, 173, 0.8);
}
#navbarTLF .sideSearch .parRegion {
  border-bottom: 1px solid rgba(173, 173, 173, 0.8);
}
#navbarTLF .sideSearch .inputSearch {
  position: relative;
}
#navbarTLF .sideSearch .inputSearch .fa-search:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
}

body .test {
  height: 100vh;
  color: #2c3e50;
  background-color: #e67e22;
}
body .test #titre404 {
  font-size: 90px;
  text-align: center;
  margin-top: 25%;
}
body .test #paragraphe404 {
  text-align: center;
  margin-bottom: 25%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  height: 60px;
  position: absolute;
  bottom: 0;
}
.footer .row .credits a {
  color: grey;
}
.footer .row .credits a:hover {
  color: white;
  text-decoration: none;
}
.footer .row .copyright {
  text-align: center;
  color: grey;
}
.footer .row .social {
  text-align: end;
}
.footer .row .social a .twitter {
  width: 7%;
}
.footer .row .social a .facebook {
  margin-left: 3%;
  width: 8%;
}

/*# sourceMappingURL=style.css.map */
