
/* orange #ef752b rgb(239, 117,43)*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Bebas neue cyrillic';
}

@font-face {
  font-family: 'Monoton';
  src: url("../fonts/Monoton-Regular.ttf");
}

@font-face {
  font-family: 'Bebas neue cyrillic';
  src: url("../fonts/Bebas Neue Cyrillic.ttf");
}

span{
	font-family: 'Monoton';
	color: white;
}

#logo_accueil{
	//height: 400px;
}

#background{
	background-image: url("../images/background_accueil.jpg");
	height: 400px;
	background-size: 100%;
	background-repeat: no-repeat;

#barMenu{
	#navbarNavAltMarkup{
		.navbar-nav{
			width: 100%;
			a{
				margin-left: 10%;
				color: white;
			}
		}
	}//#navbarNavAltMarkup
}//#barMenu
}//#background

#logo_text_accueil{
	
	h2{
		color: white;
	}
}