/* orange  rgb(239, 117,43)*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas neue cyrillic';
}

@font-face {
  font-family: 'Monoton';
  src: url("../fonts/Monoton-Regular.ttf");
}

@font-face {
  font-family: 'Bebas neue cyrillic';
  src: url("../fonts/Bebas Neue Cyrillic.ttf");
}

span {
  font-family: 'Monoton';
  color: white;
  font-size: 30px;
}

/********* PAGE ACCUEIL ****************/
#backgroundAccueil {
  background-image: url("../images/background_accueil.jpg");
  height: 95vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #backgroundAccueil {
    height: 90vh;
  }
}

@media screen and (min-width: 765px) and (max-width: 995px) {
  #backgroundAccueil {
    height: 93vh;
  }
}

#backgroundAccueil #barMenuAccueil #navbarNavAltMarkup .navbar-nav {
  width: 100%;
}

#backgroundAccueil #barMenuAccueil #navbarNavAltMarkup .navbar-nav a {
  margin-left: 10%;
  color: white;
}

#backgroundAccueil .titre {
  color: white;
  text-align: center;
  font-size: 350%;
  font-family: 'Monoton';
  color: #ef752b;
}

@media screen and (max-width: 768px) {
  #backgroundAccueil .titre {
    font-size: 200%;
  }
}

#backgroundAccueil h2 {
  color: white;
  text-align: center;
  margin-top: 3%;
  font-size: 220%;
  background-color: rgba(2, 2, 58, 0.7);
  border-radius: 20px;
  padding: 1%;
}

@media screen and (max-width: 768px) {
  #backgroundAccueil h2 {
    padding: 50px 0;
    font-size: 180%;
  }
}

#backgroundAccueil #logoTextAccueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
}

/*#background {
    background-image: url("../images/background_accueil.jpg");
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;



    #barMenuAccueil {

        #navbarNavAltMarkup {
            .navbar-nav {
                width: 100%;

                a {
                    margin-left: 10%;
                    color: white;
                }
            }
        }
    }

}*/
.nav-link {
  display: block;
}

@media screen and (max-width: 992px) {
  #barMenuAccueil {
    display: none;
    background-color: black;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    background-color: black;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 23px;
}

@media screen and (max-width: 1024px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 0px 30px;
    font-size: 20px;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(239, 117, 43, 0.8);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#map {
  position: fixed;
  height: 95vh;
}

#navbarADM .navBar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  background-color: black;
  overflow: hidden;
}

#navbarADM .navBar span {
  font-family: 'bebas neue cyrillic' !important;
  font-size: 30px;
  color: white;
}

#navbarADM .navBar .menuTop {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  #navbarADM .navBar .menuTop a {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #navbarADM .navBar .menuTop {
    display: none;
  }
}

#navbarADM .navBar .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 428%;
}

#navbarADM .navBar .topnav a:hover,
#navbarADM .navBar .topnav a:focus {
  color: #f1f1f1;
}

#navbarADM .navBar .sidenav {
  cursor: pointer;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbarADM .navBar .sidenav #icon {
  position: relative;
  left: -26px;
}

#navbarADM .navBar .sidenav .menu {
  border-bottom: 1px solid rgba(239, 117, 43, 0.8);
  padding: 55px 65px;
}

#navbarADM .navBar .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbarADM .navBar .sidenav a:hover,
#navbarADM .navBar .sidenav .offcanvas a:focus {
  color: #f1f1f1;
}

#navbarADM .navBar .sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: -42px;
  right: 0;
  font-size: 83px;
  margin-right: 50px;
}

@media screen and (min-width: 992px) {
  #navbarADM {
    display: none;
  }
}

.navTousLesFestivals {
  height: 55px;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navTousLesFestivals a:hover {
  color: #EF752B;
}

.navTousLesFestivals h1 {
  display: contents;
  font-size: 30px;
  color: #f1f1f1;
}

#mainTLF .loupe .fa-search:before {
  content: "\f002";
  font-size: 30px;
  position: relative;
  top: 10px;
}

.mycluster {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ef752b;
  color: black;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-top: -20px;
  margin-left: -20px;
}

.sideSearch {
  cursor: pointer;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  top: 54px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideSearch .closebtn {
  cursor: pointer;
  color: rgba(239, 117, 43, 0.8);
}

.sideSearch .text {
  color: rgba(239, 117, 43, 0.8);
  font-size: 30px;
}

.sideSearch .input {
  margin-bottom: 10px;
}

.sideSearch .input input {
  background-color: transparent;
}

.sideSearch .input input ::-webkit-input-placeholder {
  color: rgba(239, 117, 43, 0.8);
}

.sideSearch .input input :-ms-input-placeholder {
  color: rgba(239, 117, 43, 0.8);
}

.sideSearch .input input ::-ms-input-placeholder {
  color: rgba(239, 117, 43, 0.8);
}

.sideSearch .input input ::placeholder {
  color: rgba(239, 117, 43, 0.8);
}

.sideSearch #btn {
  margin: 15px;
  padding: 7px 30px;
  background-color: black;
  border: none;
  color: white;
  font-size: 30px;
}

.sideSearch #btn:hover {
  color: #ef752b;
}

.loupePC {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .loupePC {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #navbarTLF {
    display: none;
  }
}

/***************** PAGE CONTACT*****************************/
#mainWrapContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ef752b;
  height: 93vh;
  /*boxRightContact*/
}

@media screen and (min-width: 768px) {
  #mainWrapContact {
    height: 90vh;
  }
}

@media screen and (min-width: 765px) and (max-width: 995px) {
  #mainWrapContact {
    height: 93vh;
  }
}

#mainWrapContact #boxRightContact {
  width: 50%;
  /* #blocForm */
}

@media screen and (max-width: 992px) {
  #mainWrapContact #boxRightContact {
    width: 100%;
  }
}

#mainWrapContact #boxRightContact #blocForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ef752b;
}

@media screen and (min-width: 768px) {
  #mainWrapContact #boxRightContact #blocForm {
    height: 90vh;
  }
}

@media screen and (min-width: 765px) and (max-width: 995px) {
  #mainWrapContact #boxRightContact #blocForm {
    height: 93vh;
  }
}

#mainWrapContact #boxRightContact #blocForm h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  color: white;
}

#mainWrapContact #boxRightContact #blocForm input,
#mainWrapContact #boxRightContact #blocForm textarea {
  width: 90%;
  border: none;
  border-left: 2px solid grey;
  margin-left: 3%;
}

#mainWrapContact #boxRightContact #blocForm i {
  font-size: 200%;
  margin-top: 30%;
}

#mainWrapContact #boxRightContact #blocForm .boxInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  height: 60px;
  width: 90%;
  padding-left: 2%;
  padding-top: 1%;
}

#mainWrapContact #boxRightContact #blocForm ::-webkit-input-placeholder {
  font-size: 200%;
  padding-left: 5%;
}

#mainWrapContact #boxRightContact #blocForm :-ms-input-placeholder {
  font-size: 200%;
  padding-left: 5%;
}

#mainWrapContact #boxRightContact #blocForm ::-ms-input-placeholder {
  font-size: 200%;
  padding-left: 5%;
}

#mainWrapContact #boxRightContact #blocForm ::placeholder {
  font-size: 200%;
  padding-left: 5%;
}

#mainWrapContact #boxRightContact #blocForm #boxMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  height: 150px;
  width: 90%;
  padding-left: 2%;
  padding-top: 1%;
}

#mainWrapContact #boxRightContact #blocForm #btnEnvoyer {
  background-color: black;
  width: 50%;
  padding-top: 3%;
}

#mainWrapContact #boxRightContact #blocForm #btnEnvoyer p {
  color: white;
  font-size: 220%;
}

#mainWrapContact #boxRightContact #blocForm #btnEnvoyer:hover {
  cursor: pointer;
}

#mainWrapContact #boxLeftContact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  #mainWrapContact #boxLeftContact {
    display: none;
  }
}

#mainWrapContact #boxLeftContact #logoContact {
  margin-top: 15%;
}

#mainWrapContact #boxLeftContact p {
  font-size: 250%;
  text-align: center;
  margin-top: 5%;
}

#mainWrapContact #popUpContact {
  height: 300px;
  width: 500px;
  background-color: red;
  position: absolute;
  margin-top: 5%;
  margin-left: 35%;
  display: none;
}

/* #mainWrapContact*/
.footer {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  position: absolute;
  bottom: 0 !important;
  margin-top: 20px;
  width: 100%;
}

.footer .row .credits a {
  color: grey;
}

.footer .row .credits a:hover {
  color: rgba(239, 117, 43, 0.8);
  text-decoration: none;
}

.footer .row .col-6 p {
  text-align: center;
  color: grey;
}

.footer .row .social {
  text-align: end;
}

.footer .row .social a .twitter {
  width: 12%;
}

.footer .row .social a .facebook {
  margin-left: 3%;
  width: 15%;
}
/*# sourceMappingURL=style.css.map */