/* orange  rgb(239, 117,43)*/
$orange: #EF752B;

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas neue cyrillic';
}

@font-face {
    font-family: 'Monoton';
    src: url("../fonts/Monoton-Regular.ttf");
}

@font-face {
    font-family: 'Bebas neue cyrillic';
    src: url("../fonts/Bebas Neue Cyrillic.ttf");
}

span {
    font-family: 'Monoton';
    color: white;
    font-size: 30px;
}


/********* PAGE ACCUEIL ****************/
#backgroundAccueil {
    background-image: url("../images/background_accueil.jpg");
    height: 95vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        height: 90vh;
    }

    @media screen and (min-width: 765px) and (max-width: 995px) {
        height: 93vh;
    }

    #barMenuAccueil {

        #navbarNavAltMarkup {
            .navbar-nav {
                width: 100%;

                a {
                    margin-left: 10%;
                    color: white;
                }
            }
        }
    }

    .titre {
        color: white;
        text-align: center;
        font-size: 350%;
        font-family: 'Monoton';
        color: rgb(239, 117, 43);

        @media screen and (max-width: 768px) {
            font-size: 200%;
        }
    }

    h2 {
        color: white;
        text-align: center;
        margin-top: 3%;
        font-size: 220%;
        background-color: rgba(2, 2, 58, 0.7);
        border-radius: 20px;
        padding: 1%;
        line-height: 156%;
        letter-spacing: 0.41rem;

        @media screen and (max-width: 768px) {
            padding: 50px 0;
            font-size: 180%;
            line-height: 156%;
            letter-spacing: 0.2rem;
        }
    }

    #logoTextAccueil {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }
}

.nav-link {
    display: block;
}

@media screen and (max-width:992px) {
    #barMenuAccueil {
        display: none;
        background-color: black;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        background-color: black;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: 83px;
    font-size: 27px;
}

@media screen and (max-width: 1024px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 0px 30px;
        font-size: 20px;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(239, 117, 43, 0.8);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
}


// Taille carte de France
#map {
    position: fixed;
    height: 95vh;
    //     position: absolute;
    // left: 50%;
    // top: 30%;
    // transform: translate(-50%, -30%);
    // width: 80%;
    // height: 60%;
    // min-height: 40%;
}

// barre de navigation AUTOUR DE MOI 
#navbarADM {

    .navBar {
        align-items: center;
        height: 55px;
        background-color: black;
        overflow: hidden;

        span {
            font-family: 'bebas neue cyrillic' !important;
            font-size: 30px;
            color: white;
        }

        .menuTop {
            justify-content: space-between;

            a {
                @media (min-width: 992px) {
                    display: none;
                }
            }
        }

        @media screen and (max-width:992px) {
            .menuTop {
                display: none;
            }
        }

        .topnav {
            a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 428%;
            }

            a:hover,
            a:focus {
                color: #f1f1f1;
            }
        }

        .sidenav {
            cursor: pointer;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .9);
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;

            // Icones de la navbar latérale
            #icon {
                position: relative;
                left: -26px;
            }

            .menu {
                border-bottom: 1px solid rgba(239, 117, 43, .8);
                padding: 55px 65px;
            }

            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            a:hover,
            .offcanvas a:focus {
                color: #f1f1f1;
            }

            .closebtn {
                cursor: pointer;
                position: absolute;
                top: -42px;
                right: 0;
                font-size: 83px;
                margin-right: 50px;
            }
        }
    }
}


@media screen and(min-width: 992px) {
    #navbarADM {
        display: none;
    }
}

.geo-me {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 10%);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: rgba(239, 117, 43, .8);
    font-size: 30px;
    background: rgba(255, 255, 255, .7);
    ;
    padding: 10px 20px 10px 20px;
    border: solid rgba(239, 117, 43, .8) 2px;
    text-decoration: none;
}

.geo-me:hover {
    background: rgba(239, 117, 43, .8);
    text-decoration: none;
    color: #ffffff;
    border: none;
}

// Header page TOUS LES FESTIVALS
.navTousLesFestivals {


    height: 55px;
    background-color: black;
    align-items: center;
    position: relative;

    a:hover {
        color: $orange;
    }

    h1 {
        display: contents;
        font-size: 30px;
        color: #f1f1f1;
    }
}

// Main page TOUS LES FESTIVALS
#mainTLF {
    .loupe {
        .fa-search:before {
            content: "\f002";
            font-size: 30px;
            display: block;
            //position: relative;
            //top: 10px;
        }
    }
}

//Personnalisation des icones Clusters (Markers)
.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(239, 117, 43);
    color: black;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

//Barre de recherche TOUS LES FESTIVALS
.sideSearch {
    cursor: pointer;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    top: 54px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    //margin-top: 54px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
    .closebtn {
        cursor: pointer;
        color: rgba(239, 117, 43, .8);
        position: absolute;
        font-size: 50px;        
        bottom: 0px;
    }
    .closebtn:hover{
        text-decoration: none;
    }
}

.text {
    color: rgba(239, 117, 43, .8);
    font-size: 45px;
    margin-top: 6px;
}

.input {
    margin-bottom: 10px;

    input {
        background-color: transparent;
        height: 60px;

        
    }
    ::placeholder {
        color: rgba(239, 117, 43, .8);
        letter-spacing: 3px;
        font-size: 15px;
    }
}

#btn {
    margin: 15px;
    padding: 7px 30px;
    background-color: black;
    border: none;
    color: white;
    font-size: 30px;
}

#btn:hover {
    color: rgb(239, 117, 43);
}


.loupePC {
    cursor: pointer;

    .loupe {
        display: block;
        background-color: rgba(255, 255, 255, .8);
        padding: 15px;
        margin-top: 15px;
        box-shadow: 3px 3px 5px 1px rgba(125, 125, 125, .8);

    }
}

@media screen and (max-width:992px) {
    .loupePC {
        display: none;
    }
}

@media screen and (min-width:992px) {
    #navbarTLF {
        display: none;
    }
}

/***************** PAGE CONTACT*****************************/
#mainWrapContact {
    display: flex;
    flex-direction: row;
    background-color: rgb(239, 117, 43);
    height: 93vh;

    @media screen and (min-width: 768px) {
        height: 90vh;
    }

    @media screen and (min-width: 765px) and (max-width: 995px) {
        height: 93vh;
    }

    #boxRightContact {
        width: 50%;

        @media screen and (max-width: 992px) {
            width: 100%;
        }

        #blocForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: rgb(239, 117, 43);

            @media screen and (min-width: 768px) {
                height: 90vh;
            }

            @media screen and (min-width: 765px) and (max-width: 995px) {
                height: 93vh;
            }

            h1 {
                margin-top: 5%;
                margin-bottom: 5%;
                text-align: center;
                color: white;
            }

            input,
            textarea {
                width: 90%;
                border: none;
                border-left: 2px solid grey;
                margin-left: 3%;
            }

            i {
                font-size: 200%;
                margin-top: 30%;
            }

            .boxInput {
                display: flex;
                flex-direction: row;
                background-color: white;
                height: 60px;
                width: 90%;
                padding-left: 2%;
                padding-top: 1%;
            }

            ::placeholder {
                font-size: 200%;
                padding-left: 5%;
            }

            #boxMessage {
                display: flex;
                flex-direction: row;
                background-color: white;
                height: 150px;
                width: 90%;
                padding-left: 2%;
                padding-top: 1%;
            }

            #btnEnvoyer {
                background-color: black;
                width: 50%;
                padding-top: 3%;

                p {
                    color: white;
                    font-size: 220%;
                }
            }

            #btnEnvoyer:hover {
                cursor: pointer;
            }
        }

        /* #blocForm */
    }

    /*boxRightContact*/

    #boxLeftContact {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 992px) {
            display: none;
        }

        #logoContact {
            margin-top: 15%;
        }

        p {
            font-size: 250%;
            text-align: center;
            margin-top: 5%;
        }
    }

    #popUpContact {
        height: 300px;
        width: 500px;
        background-color: red;
        position: absolute;
        margin-top: 5%;
        margin-left: 35%;
        display: none;
    }
}

/* #mainWrapContact*/


.footer {
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    height: 65px;
    position: absolute;
    bottom: 0 !important;
    margin-top: 20px;
    width: 100%;

    .row {
        .credits {
            a {
                color: grey;
            }

            a:hover {
                color: rgba(239, 117, 43, 0.8);
                text-decoration: none;
            }
        }

        .col-6 {
            p {
                text-align: center;
                color: grey;

            }
        }

        .social {
            text-align: end;

            a {

                .twitter {
                    width: 12%;
                }

                .facebook {
                    margin-left: 3%;
                    width: 15%;
                }
            }
        }
    }
}

.pulse {

    cursor: pointer;
    animation: pulse 2s infinite;
}